<h2>Submissions and Corrections</h2>
<p>Please submit corrections, or requests to add or remove a resource from the directory to YOUR_CONTACT_INFO.</p>
<!-- ADD INSTRUCTIONS FOR SUBMISSIONS/CORRECTIONS HERE -->
<p><strong>Submitting a website to the {TITLE} directory:</strong></p>
<p>For the Category, choose an existing category from the list near the top of the <a href="index.html">directory index</a> when possible, or suggest a new one if none are applicable.</p>
<p><strong>Submission template:</strong></p>
<ul>
<li>Directory name:</li>
<li>Suggested category: (optional)</li>
<li>Primary website title:</li>
<li>Primary website description:</li>
<li>Primary website website URL:</li>
<li>Secondary website title (optional):</li>
<li>Secondary website URL (optional):</li>
</ul>
<p>Additional secondary websites may be added.</p>
</div>
