<div id="footer">
<div id="footerContent">
<!-- ADD FOOTER CONTENT HERE -->
<p>Please share a link to the {TITLE} directory with your friends. If you're a website administrator, consider adding the <a href="downloads.html">directory logo</a> to your website.
<p>This directory was built with pure HTML and CSS using the <a href="{REPO_URL}">Web Directory Builder</a>, a free, open-source shell script which you can use to build your own web directory.</p>
<p>The directory was last modified on {DATE}</p>
</div>
</div>
</body>
</html>
